

<h1>Playlist Rating</h1>
<%= form_with model: [@playlist, @playlist_user] do |f|%>
    <%= f.hidden_field :playlist_id, value: @playlist.id%>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.label :rating %>
    <%= f.number_field :rating, in: 0...6 %>
    <%= f.submit 'Add Rating' %>
<% end %>


<%= render partial: "users/buttons" %>

