
<div class="button">



<% if current_user %>
<%= button_to "Profile",    '/profile', method: :get %><br>
<% end %>


<%= button_to "Create New Song", '/songs/new', method: :get %><br>

<%= button_to "Create New Playlist", '/playlists/new', method: :get %><br>

<%= button_to "Songs",    songs_path, method: :get %><br>

<%= button_to "Playlists", playlists_path, method: :get %><br>


    </div>
