<h1>Edit User:</h1>
<%= form_with model: @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit 'Update Account' %>
<% end %>


<%= render partial: "buttons" %>
