  
<h1>Create a new Song:</h1>
<%= form_with model: @user do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :artist %>
    <%= f.text_field :artist %>
    <%= f.submit 'Add Song to list' %>
<% end %>