
<h1>Create a new Song:</h1>
<%= form_with model: @song do |f| %>
<%= render partial: "users/errors" %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :artist %>
    <%= f.text_field :artist %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.submit 'Add Song to list' %>
<% end %>