<h1>Create a new Song:</h1>
<%= form_with model: [@playlist, @song] do |f| %>
<% if current_nested_playlist%>
    <%= f.hidden_field :playlist_id, value: @playlist.id%>
<% end %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :artist %>
    <%= f.text_field :artist %>
    <%= f.submit 'Add Song to list' %>
<% end %>


playlist is not directly associated with songs 
/playlist/playlist_id/playlist_songs
/playlist/playlist_id/playlist_songs/new <<< not submitting a new song, adding an existing song to playlists/playlist_songs collection

