<% if @playlist%>
    <%= @playlist.name%>'s songs
<% else %>
<h1>All Songs:</h1>
<% end %>

<%= render partial: "search" %>

<ul>
<% @songs.each do |song| %>
    <p>
       <li> Title: <%= song.title %></li>
        <li>Artist: <%= song.artist %> </li>

     <%= button_to "View", song, method: :get %>
        </p>
<% end %>
</ul>



<%= render partial: "users/buttons" %>
