<% if @playlist%>
    <%= @playlist.name%>'s songs
<% else %>
<h1>All Songs:</h1>
<% end %>

<%= render partial: "search" %>

<ul>
<% @songs.each do |song| %>
    <p>
       <li> Title: <%=link_to song.title, song_path(song) %></li>
        <li>Artist: <%= song.artist %> </li>

        </p>
<% end %>
</ul>



<%= render partial: "users/buttons" %>
