

<% if @playlist%>
    <%= @playlist.name%>'s songs
<% else %>
<h1>All Songs:</h1>
<% end %>
<% @songs.each do |song| %>
    <p>
        Title:<%= song.title %>
        <br>
        Artist:<%= song.artist %> 
    </p>
<% end %>



<%= render partial: "buttons" %>
<%= render partial: "playlists/buttons" %>
