<% if @playlist%>
    <%= @playlist.name%>'s songs
<% else %>
<h1>All Songs:</h1>
<% end %>
<% @songs.each do |song| %>
    <p>
        Title:<%= song.title %>
        <br>
        Artist:<%= song.artist %> 
 

     <%= link_to "View", song, method: :show %></li>
        </p>
<% end %>



<%= render partial: "users/buttons" %>
