  
<h1>Create New Playlist:</h1>
<%= form_with model: @playlist do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.collection_check_boxes :song_ids, @songs.order(:title), :id, :title, include_hidden: false %><br>
    <%= f.submit 'Create Playlist' %>
<% end %><br>

        