<h1>Songs on Playlist</h1>


<%= button_to "Rate Playlist", new_playlist_playlist_song_path(@playlist.id), method: :get %>

<p><%= @playlist.name %></p>
        <ul>  <% @playlist.playlist_users.each do |r|%>
             <li> User:
                <b><%= r.user.email%></b> <br>
                    Rating:
                        <b><%= r.rating %></b>
                        out of 5.</li>
                <% if !r.rating %>
                        Be the first to rate this playlist!
                <% end %>
        <%end%> </ul>

<% @playlist.songs.uniq.each do |song| %>
    <p>
        Title:<%= song.title %>
        <br>
        Artist:<%= song.artist %> 
    </p>
<% end %>

    <% if @playlist.user_id == current_user.id %>
       <br> <%= button_to "Edit Playlist", edit_playlist_path(@playlist), method: :get %>   <br>
        <%= button_to "Add Songs to Playlist", new_playlist_playlist_song_path(@playlist), method: :get %><br>
        <%= button_to "Delete", @playlist, method: :delete %><br>
    <% end%>


<%= render partial: "users/buttons" %>
