<h1>Songs on Playlist</h1>

<p><%= @playlist.name %></p>

<% @playlist.songs.each do |song| %>
    <p>
        Title:<%= song.title %>
        <br>
        Artist:<%= song.artist %> 
    </p>
<% end %>


<li><%= link_to "Add Songs to Playlist", '/playlists/:id/songs/new' %></li>

<%= button_to "Delete", @playlist, method: :delete %>


<%= render partial: "users/buttons" %>
