<h1>Songs on Playlist</h1>
<% if @playlist.user_id != current_user.id %>
<%= button_to "Rate Playlist", new_playlist_playlist_user_path(@playlist.id), method: :get %>
<% end %>

<div class='playlist_index'>

<p><%= @playlist.name %></p>
        <ul>  <% @playlist.playlist_users.each do |r|%>
             <li> User:
                <b><%= r.user.email%></b> <br>
                    Rating:
                        <b><%= r.rating %></b>
                        out of 5.</li>
                <% if !r.rating %>
                        Be the first to rate this playlist!
                <% end %>
        <%end%> </ul>

<% if @playlist.songs.empty?%>
Currently No Songs in this Playlist
<%else%>
<% @playlist.songs.uniq.each do |song| %>
    <p>
        Title:<%= song.title %>
        <br>
        Artist:<%= song.artist %> 
    </p>
<% end %>
<%end%>

</div>
<% if @playlist.user_id == current_user.id %>
  <%= button_to "Edit Playlist", edit_playlist_path(@playlist), method: :get %> <br>
<% end %>

<%= render partial: "users/buttons" %>
