<h1>Songs on Playlist</h1>


<%= button_to "Rate Playlist", new_playlist_playlist_user_path(@playlist), method: :get %>

<p><%= @playlist.name %></p>


        <ul>  <% @playlist.playlist_users.each do |r|%>
             <li> User:
                <b><%= r.user.email%></b>
                <br>
                    Rating:
                        <b><%= r.rating %></b>
                        out of 5.</li>
            
                <% if !r.rating %>
                        Be the first to rate this playlist!
                <% end %>
        <%end%> </ul>




<% @playlist.songs.each do |song| %>
    <p>
        Title:<%= song.title %>
        <br>
        Artist:<%= song.artist %> 
    </p>
<% end %>


<%= button_to "Edit Playlist", edit_playlist_path(@playlist), method: :get %>   

<%= render partial: "users/buttons" %>
