<!DOCTYPE html>
<html>
  <head>
    <title>PhaseThreeProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  <br>
     <%= render 'layouts/header' %>
    <%= yield %>
                    <li><%= link_to "Songs",    '/' %></li>
                    <li><%= link_to "Playlists", '/playlists' %></li>

  </body>
</html>
